<!-- app/views/admin/submission_requests/_form.html.erb -->
<%= form_with model: [:admin, @request] do |f| %>
  <p>タイトル<br><%= f.text_field :title %></p>
  <p>説明<br><%= f.text_area :description, rows: 8 %></p>
  <p>締切<br><%= f.date_field :due_on %></p>
  <p>ステータス<br><%= f.select :status, [[ '公開', 'published' ], [ '非公開', 'draft' ]] %></p>
  <p><%= f.submit %></p>
<% end %>