<!DOCTYPE html>
<html>
  <head>
    <title>まいにち園だより</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
    <% if user_signed_in? %>
      <small>ログイン中：<%= current_user.name.presence || current_user.email %></small>
      <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>
  </header>
  <nav style="display:flex;gap:1rem;align-items:center;margin-bottom:1rem;">
  <% if user_signed_in? %>
    <%= link_to '通知', notifications_path %>
    <span id="notification-bell">🔔
      <span id="notification-count"><%= current_user.notifications.unread.count %></span>
    </span>
  <% end %>
</nav>
    <%= yield %>
  </body>
</html>
